.App {
  /* text-align: center; */
}

.menu{
  background: rgb(198, 218, 198);
}

.nav-bar-color{
  background-color: #3ea9bb !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.login-button{
  background-color: #3ea9bb!important;
  color: white !important;
}

.add-business{
  background:  #3ea9bb !important;
}

.icon {
  color: red;
}

.listing-container{
  text-align: center;
}

.listing-description-span{
  color: rgb(128, 87, 87);
}